#Игорирование файлов в подкаталоге tmp
tmp/
#Игорирование файлов заканчивающиеся суффиксом _old
*.*_old
#Игорирование файлов заканчивающиеся суффиксом _backup
*.*_backup
#Игорирование файлов Thumbs.db
Thumbs.db
#Игорирование файлов .DS_Store
*.DS_Store



